:host {
  .add-entity-form {
    width: 600px;
    max-width: 90vw;
    min-width: 360px;
    box-sizing: border-box;
  }

  //::ng-deep tb-entity-autocomplete .mat-mdc-form-field-label,
  //::ng-deep tb-entity-autocomplete .mdc-floating-label {
  //  display: none !important;
  //}
}
