<form #editEntityForm="ngForm" (ngSubmit)="save()"
      [formGroup]="editEntityFormGroup" class="edit-entity-form">
  <mat-toolbar color="primary">
    <h2>{{ title || 'Edit entity' }}</h2>
    <span class="flex-1"></span>
    <button (click)="cancel()" mat-icon-button type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar *ngIf="isLoading$ | async" color="warn" mode="indeterminate">
  </mat-progress-bar>
  <div *ngIf="(isLoading$ | async) === false" style="height: 4px;"></div>
  <div class="mat-padding flex flex-col gap-4">
    <div class="tb-form-panel">
      <div class="tb-form-panel-title">General</div>
      <div class="tb-form-row space-between gap-16">
        <div>Name</div>
        <mat-form-field appearance="outline" class="medium-width" subscriptSizing="dynamic">
          <input formControlName="entityName" matInput placeholder="Set">
        </mat-form-field>
      </div>
      <div class="tb-form-row space-between gap-16">
        <div>Label</div>
        <mat-form-field appearance="outline" class="medium-width" subscriptSizing="dynamic">
          <input formControlName="entityLabel" matInput placeholder="Set">
        </mat-form-field>
      </div>
      <div class="tb-form-row space-between" formGroupName="attributes">
        <mat-slide-toggle
          class="mat-mdc-slide-toggle mat-slide fixed-title-width mat-accent"
          formControlName="isActive"
          labelPosition="after">
          Active
        </mat-slide-toggle>
      </div>
    </div>
    <div class="tb-form-panel" formGroupName="attributes">
      <div class="tb-form-panel-title">Location</div>
      <div class="tb-form-row space-between">
        <div>Address</div>
        <div class="flex gap-2">
          <button
            (click)="geocodeAddress()"
            [disabled]="isGeocoding"
            class="tb-box-button relative"
            mat-stroked-button
            matTooltip="Geocode"
            matTooltipPosition="above"
            type="button">
            <tb-icon *ngIf="!isGeocoding" matButtonIcon>pin_drop</tb-icon>
            <mat-progress-spinner
              *ngIf="isGeocoding"
              color="primary"
              diameter="20"
              mode="indeterminate"
              strokeWidth="3">
            </mat-progress-spinner>
          </button>
          <mat-form-field appearance="outline" class="medium-width" subscriptSizing="dynamic">
            <input formControlName="address" matInput placeholder="Set">
          </mat-form-field>
        </div>
      </div>
      <div class="tb-form-row space-between">
        <div>Latitude</div>
        <mat-form-field appearance="outline" class="medium-width" subscriptSizing="dynamic">
          <input formControlName="latitude" matInput placeholder="Set">
        </mat-form-field>
      </div>
      <div class="tb-form-row space-between gap-16">
        <div>Longitude</div>
        <mat-form-field appearance="outline" class="medium-width" subscriptSizing="dynamic">
          <input formControlName="longitude" matInput placeholder="Set">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="flex flex-row place-content-end" mat-dialog-actions>
    <button [disabled]="(isLoading$ | async) || editEntityForm.invalid || !editEntityForm.dirty" color="primary" mat-button
            mat-raised-button
            type="submit">
      Update
    </button>
  </div>
</form>
