<div class="tb-form-panel">
  <div class="tb-form-panel-title" translate="">Column settings</div>
  <div class="tb-form-row">
    <div class="fixed-title-width">Custom header title</div>
    <mat-form-field appearance="outline"
                    class="mat-mdc-form-field ng-tns-c508571215-64 mat-mdc-form-field-type-mat-input mat-form-field-appearance-outline mat-primary ng-untouched ng-pristine ng-valid ng-star-inserted flex-1"
                    subscriptsizing="dynamic">
      <!---->
      <div class="mat-mdc-text-field-wrapper mdc-text-field ng-tns-c508571215-64 mdc-text-field--outlined mdc-text-field--no-label"><!---->
        <div class="mat-mdc-form-field-flex ng-tns-c508571215-64">
          <div class="mdc-notched-outline ng-tns-c508571215-64 mdc-notched-outline--no-label ng-star-inserted" matformfieldnotchedoutline="">
            <div class="mat-mdc-notch-piece mdc-notched-outline__leading"></div>
            <div class="mat-mdc-notch-piece mdc-notched-outline__notch"><!----><!----><!----></div>
            <div class="mat-mdc-notch-piece mdc-notched-outline__trailing"></div>
          </div><!----><!----><!---->
          <div class="mat-mdc-form-field-infix ng-tns-c508571215-64"><!----><input aria-invalid="false" aria-required="false"
                                                                                   class="mat-mdc-input-element ng-tns-c508571215-64 mat-mdc-form-field-input-control mdc-text-field__input ng-untouched ng-pristine ng-valid cdk-text-field-autofill-monitored"
                                                                                   formcontrolname="customTitle" id="mat-input-26" matinput="" placeholder="Set"></div><!----><!----></div><!---->
      </div>
      <div class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align ng-tns-c508571215-64 mat-mdc-form-field-subscript-dynamic-size"><!---->
        <div class="mat-mdc-form-field-hint-wrapper ng-tns-c508571215-64 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);"><!---->
          <div class="mat-mdc-form-field-hint-spacer ng-tns-c508571215-64"></div>
        </div><!----></div>
    </mat-form-field>
  </div>
  <div class="tb-form-row space-between">
    <div>Column width (px or %)</div>
    <mat-form-field appearance="outline"
                    class="mat-mdc-form-field ng-tns-c508571215-65 mat-mdc-form-field-type-mat-input mat-form-field-appearance-outline mat-primary ng-untouched ng-pristine ng-valid ng-star-inserted"
                    subscriptsizing="dynamic">
      <!---->
      <div class="mat-mdc-text-field-wrapper mdc-text-field ng-tns-c508571215-65 mdc-text-field--outlined mdc-text-field--no-label"><!---->
        <div class="mat-mdc-form-field-flex ng-tns-c508571215-65">
          <div class="mdc-notched-outline ng-tns-c508571215-65 mdc-notched-outline--no-label ng-star-inserted" matformfieldnotchedoutline="">
            <div class="mat-mdc-notch-piece mdc-notched-outline__leading"></div>
            <div class="mat-mdc-notch-piece mdc-notched-outline__notch"><!----><!----><!----></div>
            <div class="mat-mdc-notch-piece mdc-notched-outline__trailing"></div>
          </div><!----><!----><!---->
          <div class="mat-mdc-form-field-infix ng-tns-c508571215-65"><!----><input aria-invalid="false" aria-required="false"
                                                                                   class="mat-mdc-input-element ng-tns-c508571215-65 mat-mdc-form-field-input-control mdc-text-field__input ng-untouched ng-pristine ng-valid cdk-text-field-autofill-monitored"
                                                                                   formcontrolname="columnWidth" id="mat-input-27" matinput="" placeholder="Set"></div><!----><!----></div><!---->
      </div>
      <div class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align ng-tns-c508571215-65 mat-mdc-form-field-subscript-dynamic-size"><!---->
        <div class="mat-mdc-form-field-hint-wrapper ng-tns-c508571215-65 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);"><!---->
          <div class="mat-mdc-form-field-hint-spacer ng-tns-c508571215-65"></div>
        </div><!----></div>
    </mat-form-field>
  </div>
  <div class="tb-form-row space-between">
    <div>Default column visibility</div>
    <mat-form-field appearance="outline"
                    class="mat-mdc-form-field medium-width ng-tns-c508571215-66 mat-mdc-form-field-type-mat-select mat-form-field-appearance-outline mat-primary ng-untouched ng-pristine ng-valid ng-star-inserted"
                    subscriptsizing="dynamic">
      <!---->
      <div class="mat-mdc-text-field-wrapper mdc-text-field ng-tns-c508571215-66 mdc-text-field--outlined mdc-text-field--no-label"><!---->
        <div class="mat-mdc-form-field-flex ng-tns-c508571215-66">
          <div class="mdc-notched-outline ng-tns-c508571215-66 mdc-notched-outline--no-label ng-star-inserted" matformfieldnotchedoutline="">
            <div class="mat-mdc-notch-piece mdc-notched-outline__leading"></div>
            <div class="mat-mdc-notch-piece mdc-notched-outline__notch"><!----><!----><!----></div>
            <div class="mat-mdc-notch-piece mdc-notched-outline__trailing"></div>
          </div><!----><!----><!---->
          <div class="mat-mdc-form-field-infix ng-tns-c508571215-66"><!---->
            <mat-select aria-disabled="false" aria-expanded="false" aria-haspopup="listbox"
                        aria-invalid="false" aria-labelledby="mat-select-value-11" aria-required="false"
                        class="mat-mdc-select ng-tns-c1711764913-67 ng-tns-c508571215-66 ng-untouched ng-pristine ng-valid ng-star-inserted" formcontrolname="defaultColumnVisibility"
                        id="mat-select-10" role="combobox" tabindex="0">
              <div cdk-overlay-origin="" class="mat-mdc-select-trigger ng-tns-c1711764913-67">
                <div class="mat-mdc-select-value ng-tns-c1711764913-67" id="mat-select-value-11"><!----><span class="mat-mdc-select-value-text ng-tns-c1711764913-67 ng-star-inserted"><!----><span
                  class="mat-mdc-select-min-line ng-tns-c1711764913-67 ng-star-inserted">Visible</span><!----></span><!----></div>
                <div class="mat-mdc-select-arrow-wrapper ng-tns-c1711764913-67">
                  <div class="mat-mdc-select-arrow ng-tns-c1711764913-67">
                    <svg aria-hidden="true" class="ng-tns-c1711764913-67" focusable="false" height="24px" viewBox="0 0 24 24" width="24px">
                      <path class="ng-tns-c1711764913-67" d="M7 10l5 5 5-5z"></path>
                    </svg>
                  </div>
                </div>
              </div><!----></mat-select>
          </div><!----><!----></div><!----></div>
      <div class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align ng-tns-c508571215-66 mat-mdc-form-field-subscript-dynamic-size"><!---->
        <div class="mat-mdc-form-field-hint-wrapper ng-tns-c508571215-66 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);"><!---->
          <div class="mat-mdc-form-field-hint-spacer ng-tns-c508571215-66"></div>
        </div><!----></div>
    </mat-form-field>
  </div>
  <div class="tb-form-row space-between">
    <div>Column selection in 'Columns to Display'</div>
    <mat-form-field appearance="outline"
                    class="mat-mdc-form-field medium-width ng-tns-c508571215-68 mat-mdc-form-field-type-mat-select mat-form-field-appearance-outline mat-primary ng-untouched ng-pristine ng-valid ng-star-inserted"
                    subscriptsizing="dynamic">
      <!---->
      <div class="mat-mdc-text-field-wrapper mdc-text-field ng-tns-c508571215-68 mdc-text-field--outlined mdc-text-field--no-label"><!---->
        <div class="mat-mdc-form-field-flex ng-tns-c508571215-68">
          <div class="mdc-notched-outline ng-tns-c508571215-68 mdc-notched-outline--no-label ng-star-inserted" matformfieldnotchedoutline="">
            <div class="mat-mdc-notch-piece mdc-notched-outline__leading"></div>
            <div class="mat-mdc-notch-piece mdc-notched-outline__notch"><!----><!----><!----></div>
            <div class="mat-mdc-notch-piece mdc-notched-outline__trailing"></div>
          </div><!----><!----><!---->
          <div class="mat-mdc-form-field-infix ng-tns-c508571215-68"><!---->
            <mat-select aria-disabled="false" aria-expanded="false" aria-haspopup="listbox"
                        aria-invalid="false" aria-labelledby="mat-select-value-13" aria-required="false"
                        class="mat-mdc-select ng-tns-c1711764913-69 ng-tns-c508571215-68 ng-untouched ng-pristine ng-valid ng-star-inserted" formcontrolname="columnSelectionToDisplay"
                        id="mat-select-12" role="combobox" tabindex="0">
              <div cdk-overlay-origin="" class="mat-mdc-select-trigger ng-tns-c1711764913-69">
                <div class="mat-mdc-select-value ng-tns-c1711764913-69" id="mat-select-value-13"><!----><span class="mat-mdc-select-value-text ng-tns-c1711764913-69 ng-star-inserted"><!----><span
                  class="mat-mdc-select-min-line ng-tns-c1711764913-69 ng-star-inserted">Enabled</span><!----></span><!----></div>
                <div class="mat-mdc-select-arrow-wrapper ng-tns-c1711764913-69">
                  <div class="mat-mdc-select-arrow ng-tns-c1711764913-69">
                    <svg aria-hidden="true" class="ng-tns-c1711764913-69" focusable="false" height="24px" viewBox="0 0 24 24" width="24px">
                      <path class="ng-tns-c1711764913-69" d="M7 10l5 5 5-5z"></path>
                    </svg>
                  </div>
                </div>
              </div><!----></mat-select>
          </div><!----><!----></div><!----></div>
      <div class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align ng-tns-c508571215-68 mat-mdc-form-field-subscript-dynamic-size"><!---->
        <div class="mat-mdc-form-field-hint-wrapper ng-tns-c508571215-68 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);"><!---->
          <div class="mat-mdc-form-field-hint-spacer ng-tns-c508571215-68"></div>
        </div><!----></div>
    </mat-form-field>
  </div>
  <div class="tb-form-row space-between">
    <div>Include column in export</div>
    <mat-form-field appearance="outline"
                    class="mat-mdc-form-field medium-width ng-tns-c508571215-70 mat-mdc-form-field-type-mat-select mat-form-field-appearance-outline mat-primary ng-untouched ng-pristine ng-valid ng-star-inserted"
                    subscriptsizing="dynamic">
      <!---->
      <div class="mat-mdc-text-field-wrapper mdc-text-field ng-tns-c508571215-70 mdc-text-field--outlined mdc-text-field--no-label"><!---->
        <div class="mat-mdc-form-field-flex ng-tns-c508571215-70">
          <div class="mdc-notched-outline ng-tns-c508571215-70 mdc-notched-outline--no-label ng-star-inserted" matformfieldnotchedoutline="">
            <div class="mat-mdc-notch-piece mdc-notched-outline__leading"></div>
            <div class="mat-mdc-notch-piece mdc-notched-outline__notch"><!----><!----><!----></div>
            <div class="mat-mdc-notch-piece mdc-notched-outline__trailing"></div>
          </div><!----><!----><!---->
          <div class="mat-mdc-form-field-infix ng-tns-c508571215-70"><!---->
            <mat-select aria-disabled="false" aria-expanded="false" aria-haspopup="listbox"
                        aria-invalid="false" aria-labelledby="mat-select-value-15" aria-required="false"
                        class="mat-mdc-select ng-tns-c1711764913-71 ng-tns-c508571215-70 ng-untouched ng-pristine ng-valid ng-star-inserted" formcontrolname="columnExportOption" id="mat-select-14"
                        role="combobox" tabindex="0">
              <div cdk-overlay-origin="" class="mat-mdc-select-trigger ng-tns-c1711764913-71">
                <div class="mat-mdc-select-value ng-tns-c1711764913-71" id="mat-select-value-15"><!----><span class="mat-mdc-select-value-text ng-tns-c1711764913-71 ng-star-inserted"><!----><span
                  class="mat-mdc-select-min-line ng-tns-c1711764913-71 ng-star-inserted">Only if column visible</span><!----></span><!----></div>
                <div class="mat-mdc-select-arrow-wrapper ng-tns-c1711764913-71">
                  <div class="mat-mdc-select-arrow ng-tns-c1711764913-71">
                    <svg aria-hidden="true" class="ng-tns-c1711764913-71" focusable="false" height="24px" viewBox="0 0 24 24" width="24px">
                      <path class="ng-tns-c1711764913-71" d="M7 10l5 5 5-5z"></path>
                    </svg>
                  </div>
                </div>
              </div><!----></mat-select>
          </div><!----><!----></div><!----></div>
      <div class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align ng-tns-c508571215-70 mat-mdc-form-field-subscript-dynamic-size"><!---->
        <div class="mat-mdc-form-field-hint-wrapper ng-tns-c508571215-70 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);"><!---->
          <div class="mat-mdc-form-field-hint-spacer ng-tns-c508571215-70"></div>
        </div><!----></div>
    </mat-form-field>
  </div>
  <div class="tb-form-row">
    <mat-slide-toggle class="mat-mdc-slide-toggle mat-slide mat-accent ng-untouched ng-pristine ng-valid" formcontrolname="disableSorting" id="mat-mdc-slide-toggle-3">
      <div class="mdc-form-field mat-internal-form-field" mat-internal-form-field="">
        <button aria-checked="false" aria-labelledby="mat-mdc-slide-toggle-3-label" class="mdc-switch mdc-switch--unselected" id="mat-mdc-slide-toggle-3-button" role="switch" tabindex="0"
                type="button"><span class="mdc-switch__track"></span><span class="mdc-switch__handle-track"><span class="mdc-switch__handle"><span class="mdc-switch__shadow"><span
          class="mdc-elevation-overlay"></span></span><span class="mdc-switch__ripple"><span class="mat-ripple mat-mdc-slide-toggle-ripple mat-mdc-focus-indicator" mat-ripple=""></span></span><span
          class="mdc-switch__icons ng-star-inserted"><svg aria-hidden="true" class="mdc-switch__icon mdc-switch__icon--on" viewBox="0 0 24 24"><path
          d="M19.69,5.23L8.96,15.96l-4.23-4.23L2.96,13.5l6,6L21.46,7L19.69,5.23z"></path></svg><svg aria-hidden="true" class="mdc-switch__icon mdc-switch__icon--off" viewBox="0 0 24 24"><path
          d="M20 13H4v-2h16v2z"></path></svg></span><!----></span></span></button>
        <label class="mdc-label" for="mat-mdc-slide-toggle-3-button" id="mat-mdc-slide-toggle-3-label"> Disable sorting </label></div>
    </mat-slide-toggle>
  </div>
</div>
