:host {
  display: block;
  height: 100%;

  .basic-configuration-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .tab-group-block {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;

    ::ng-deep {
      .mat-mdc-tab-body-wrapper {
        flex: 1;
        overflow: hidden;
      }

      .mat-mdc-tab-body {
        overflow: hidden;
      }

      .mat-mdc-tab-body-content {
        height: 100%;
        overflow: hidden;
      }
    }
  }
}

\
