<div [formGroup]="ts302BasicForm" class="configuration-block">
  <mat-tab-group #configGroup [class.dialog-mode]="dialogMode" class="tab-group-block">
    <!-- Basic Settings Tab -->
    <mat-tab label="General">
      <ng-template matTabContent>
        <tb-ts302-general-configuration [generalSettingsFormGroup]="ts302BasicForm"></tb-ts302-general-configuration>
      </ng-template>
    </mat-tab>

    <!-- Calibration Settings Tab -->
    <mat-tab label="Calibration">
      <ng-template matTabContent>
        <tb-ts302-calibration-configuration
          [calibrationFormGroup]="ts302BasicForm"
          [temperatureChn1CalibrationEnableControl]="temperatureChn1CalibrationEnableControl"
          [temperatureChn2CalibrationEnableControl]="temperatureChn2CalibrationEnableControl">
        </tb-ts302-calibration-configuration>
      </ng-template>
    </mat-tab>

    <!-- Alarm Configuration Tab -->
    <mat-tab label="Alarms">
      <ng-template matTabContent>
        <tb-ts302-alarm-configuration
          [alarmFormGroup]="ts302BasicForm"
          [temperatureChn1AlarmEnableControl]="temperatureChn1AlarmEnableControl"
          [temperatureChn1MutationAlarmEnableControl]="temperatureChn1MutationAlarmEnableControl"
          [temperatureChn2AlarmEnableControl]="temperatureChn2AlarmEnableControl"
          [temperatureChn2MutationAlarmEnableControl]="temperatureChn2MutationAlarmEnableControl">
        </tb-ts302-alarm-configuration>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
