<div [formGroup]="calibrationFormGroup" class="mat-padding configuration-block">
  <!-- Channel 1 -->
  <div class="tb-form-panel">
    <mat-expansion-panel [expanded]="temperatureChn1CalibrationEnableControl?.value" class="tb-settings" formGroupName="temperatureChn1CalibrationSettings">
      <mat-expansion-panel-header class="flex-wrap">
        <mat-panel-title>
          <mat-slide-toggle (click)="$event.stopPropagation()" class="mat-slide" formControlName="enable">
            <mat-label>Channel 1</mat-label>
          </mat-slide-toggle>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="tb-form-row space-between">
        <div class="fixed-title-width">Calibration Value</div>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <input autocomplete="off" formControlName="calibrationValue" matInput placeholder="Set" type="number"/>
          <span matSuffix>°C</span>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </div>

  <!-- Channel 2 -->
  <div class="tb-form-panel">
    <mat-expansion-panel [expanded]="temperatureChn2CalibrationEnableControl?.value" class="tb-settings" formGroupName="temperatureChn2CalibrationSettings">
      <mat-expansion-panel-header class="flex-wrap">
        <mat-panel-title>
          <mat-slide-toggle (click)="$event.stopPropagation()" class="mat-slide" formControlName="enable">
            <mat-label>Channel 2</mat-label>
          </mat-slide-toggle>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="tb-form-row space-between">
        <div class="fixed-title-width">Calibration Value</div>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <input autocomplete="off" formControlName="calibrationValue" matInput placeholder="Set" type="number"/>
          <span matSuffix>°C</span>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </div>
</div>
