<div [formGroup]="generalSettingsFormGroup" class="mat-content mat-padding configuration-block">
  <div class="tb-form-panel">
    <div class="tb-form-panel-title">General</div>
    <div class="tb-form-row">
      <mat-slide-toggle class="mat-slide" formControlName="syncTime">
        Sync Time
      </mat-slide-toggle>
    </div>
    <div class="tb-form-row">
      <mat-slide-toggle class="mat-slide" formControlName="displayEnable">
        Display Enable
      </mat-slide-toggle>
    </div>
    <div class="tb-form-row">
      <mat-slide-toggle class="mat-slide" formControlName="historyEnable">
        History Enable
      </mat-slide-toggle>
    </div>
    <div class="tb-form-row">
      <mat-slide-toggle class="mat-slide" formControlName="retransmitEnable">
        Retransmit Enable
      </mat-slide-toggle>
    </div>
    <div class="tb-form-row space-between column-xs">
      <div class="fixed-title-width">Retransmit Interval (s)</div>
      <tb-slider-input
        [allowExponential]="false"
        [allowNegative]="false"
        [max]="1200"
        [min]="30"
        [required]="true"
        [step]="1"
        formControlName="retransmitInterval"
        placeholder="Set">
      </tb-slider-input>
    </div>
    <div class="tb-form-row space-between column-xs">
      <div class="fixed-title-width">Reporting (min)</div>
      <tb-slider-input
        [allowExponential]="false"
        [allowNegative]="false"
        [max]="1440"
        [min]="1"
        [required]="false"
        [step]="1"
        formControlName="reportInterval"
        placeholder="Set">
      </tb-slider-input>
    </div>
    <div class="tb-form-row space-between">
      <div class="fixed-title-width">Time Zone</div>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-select formControlName="timeZone">
          <mat-option *ngFor="let tz of timezoneOptions" [value]="tz">
            {{ tz }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="tb-form-row space-between">
      <div class="fixed-title-width">Time Display</div>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-select formControlName="timeDisplay">
          <mat-option *ngFor="let option of timeDisplayOptions" [value]="option.value">
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="tb-form-panel">
    <div class="tb-form-panel-title">Sensor Channels</div>
    <div class="tb-form-row space-between column-xs">
      <div class="fixed-title-width">Channel 1</div>
      <mat-form-field appearance="outline" class="tb-input-medium" subscriptSizing="dynamic">
        <mat-select formControlName="sensorChn1">
          <mat-option *ngFor="let option of sensorTypeOptions" [value]="option.value">
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="tb-form-row space-between column-xs">
      <div class="fixed-title-width">Channel 2</div>
      <mat-form-field appearance="outline" class="tb-input-medium" subscriptSizing="dynamic">
        <mat-select formControlName="sensorChn2">
          <mat-option *ngFor="let option of sensorTypeOptions" [value]="option.value">
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
