.tb-widget.widget-type-system-customWidget {
  //Global styles are added here. Using to isolate widget extension styles
}

.gw-delete-icon-button {
  color: rgba(0, 0, 0, 0.54);
}

.gw-connector-table {
  .mat-mdc-table {
    table-layout: fixed;
  }
}

.gw-chip-list {
  .mdc-evolution-chip-set__chips {
    justify-content: flex-end;
    align-items: center;
  }
}

.gw-table-toolbar.mat-mdc-table-toolbar.mat-mdc-table-toolbar {
  padding: 0 8px;
}

/***************
 * FORM INPUT SIZES
 ***************/

.tb-input-medium {
  min-width: 234px;
}

/***************
 * TAILWIND CSS
 ***************/

@tailwind utilities;
