:host {
  display: block;
  max-height: 56px;

  ::ng-deep {
    .limit-slider-container {
      max-height: 40px;
    }

    mat-form-field {
      .mat-mdc-text-field-wrapper {
        padding-left: 12px;
        padding-right: 12px;
        min-width: 106px;
      }
    }

    mat-icon.tb-error {
      padding-left: 4px !important;
      padding-right: 0 !important;
    }

    .mat-mdc-form-field-icon-suffix {
      padding-left: 4px !important;
      padding-right: 0 !important;
    }
  }
}
