<div class="limit-slider-container flex flex-row items-center justify-start gap-2">
  <mat-slider [max]="max" [min]="min" class="flex-1">
    <input (input)="updateValue($event)"
           [disabled]="disabled"
           [step]="step"
           [value]="value"
           matSliderThumb
           type="range"/>
  </mat-slider>
  <mat-form-field appearance="outline" style="min-width: 106px;" subscriptSizing="dynamic">
    <input (input)="clearZeroValue($event); updateValue($event)"
           (keydown)="preventInvalidNumberInput($event)"
           (ngModelChange)="onChange($any($event)); onTouched()"
           [(ngModel)]="value"
           [disabled]="disabled"
           [max]="max"
           [min]="min"
           [placeholder]="placeholder"
           [required]="required"
           autocomplete="off"
           matInput
           type="number"/>
    <mat-icon *ngIf="hasError"
              [matTooltip]="errorMessage"
              class="tb-error"
              matSuffix
              matTooltipClass="tb-error-tooltip"
              matTooltipPosition="above">
      warning
    </mat-icon>
  </mat-form-field>
</div>
