<div class="limit-slider-container flex flex-row items-center justify-start gap-2">
  <mat-slider [max]="max" [min]="min" class="flex-1">
    <input (input)="updateValue($event)"
           [disabled]="disabled"
           [step]="step"
           [value]="value"
           matSliderThumb
           type="range"/>
  </mat-slider>
  <tb-form-field appearance="outline" subscriptSizing="dynamic" [unit]="unit" [hasError]="hasError" [errorMessage]="errorMessage">
    <input (input)="clearZeroValue($event); updateValue($event)"
           (keydown)="preventInvalidNumberInput($event)"
           (ngModelChange)="onChange($any($event)); onTouched()"
           [(ngModel)]="value"
           [disabled]="disabled"
           [max]="max"
           [min]="min"
           [placeholder]="placeholder"
           [required]="required"
           autocomplete="off"
           matInput
           type="number"/>
  </tb-form-field>
</div>
