<div [formGroup]="keySettingsForm">
  <div class="tb-form-row">
    <mat-slide-toggle class="mat-slide fixed-title-width" formControlName="showIcon">
      Icon
    </mat-slide-toggle>
    <div class="flex flex-1 flex-row items-center gap-2">
      <mat-form-field appearance="outline" class="number flex" subscriptSizing="dynamic">
        <input formControlName="iconSize" matInput min="0" placeholder="Set" type="number">
      </mat-form-field>
      <tb-css-unit-select class="flex-1" formControlName="iconSizeUnit"></tb-css-unit-select>
      <tb-material-icon-select [color]="keySettingsForm.get('iconColor').value?.color"
                               asBoxInput
                               formControlName="icon"
                               iconClearButton>
      </tb-material-icon-select>
      <tb-color-settings formControlName="iconColor" settingsKey="Icon">
      </tb-color-settings>
    </div>
  </div>
</div>
