<div class="tb-form-panel">
  <div class="tb-form-panel-title">Channel {{ channelNumber }}</div>

  <!-- Temperature Alarm -->
  <div class="tb-form-panel stroked">
    <mat-expansion-panel [expanded]="temperatureAlarmEnableControl?.value" class="tb-settings" [formGroup]="temperatureAlarmConfig">
      <mat-expansion-panel-header class="flex-wrap">
        <mat-panel-title>
          <mat-slide-toggle (click)="$event.stopPropagation()" class="mat-slide" formControlName="enable">
            <mat-label>Temperature Alarm</mat-label>
          </mat-slide-toggle>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="tb-form-row">
        <mat-slide-toggle class="mat-slide" formControlName="alarmReleaseEnable">
          Alarm Release
        </mat-slide-toggle>
      </div>

      <div class="tb-form-row space-between">
        <div class="fixed-title-width">Condition</div>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-select formControlName="condition">
            <mat-option *ngFor="let option of alarmConditionOptions" [value]="option.value">
              {{ option.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="tb-form-row space-between">
        <div class="fixed-title-width">Threshold Min</div>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <input formControlName="thresholdMin"
                 matInput
                 placeholder="Set"
                 type="number"/>
        </mat-form-field>
      </div>

      <div class="tb-form-row space-between">
        <div class="fixed-title-width">Threshold Max</div>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <input formControlName="thresholdMax"
                 matInput
                 placeholder="Set"
                 type="number"/>
        </mat-form-field>
      </div>

      <div class="tb-form-row space-between column-xs">
        <div class="fixed-title-width">Reporting Times</div>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <input formControlName="alarmReportingTimes"
                 matInput
                 max="5"
                 min="1"
                 placeholder="Set"
                 type="number"/>
        </mat-form-field>
      </div>

      <div class="tb-form-row space-between column-xs">
        <div class="fixed-title-width">Reporting Interval (min)</div>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <input formControlName="alarmReportingInterval"
                 matInput
                 max="5"
                 min="1"
                 placeholder="Set"
                 type="number"/>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </div>

  <!-- Mutation Alarm -->
  <div class="tb-form-panel stroked">
    <mat-expansion-panel [expanded]="mutationAlarmEnableControl?.value" class="tb-settings" [formGroup]="mutationAlarmConfig">
      <mat-expansion-panel-header class="flex-wrap">
        <mat-panel-title>
          <mat-slide-toggle (click)="$event.stopPropagation()" class="mat-slide" formControlName="enable">
            <mat-label>Mutation Alarm</mat-label>
          </mat-slide-toggle>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="tb-form-row space-between">
        <div class="fixed-title-width">Mutation Value</div>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <input formControlName="mutation" matInput type="number"/>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </div>
</div>
