<div [formGroup]="alarmFormGroup" class="mat-padding configuration-block">
  <!-- Sync Toggle -->
  <div class="tb-form-panel"
       tb-hint-tooltip-icon="When enabled, changes made to one channel's alarm configuration will automatically be applied to the other channel.">
    <mat-slide-toggle [(ngModel)]="syncChannels" [ngModelOptions]="{standalone: true}" class="mat-slide">
      Sync Channels
    </mat-slide-toggle>
  </div>

  <tb-ts302-channel-alarm-form
    (alarmConfigChange)="onChannel1ConfigChange($event)"
    [channelNumber]="1"
    [mutationAlarmConfig]="temperatureChn1MutationAlarmConfig"
    [syncEnabled]="syncChannels"
    [temperatureAlarmConfig]="temperatureChn1AlarmConfig">
  </tb-ts302-channel-alarm-form>

  <tb-ts302-channel-alarm-form
    (alarmConfigChange)="onChannel2ConfigChange($event)"
    [channelNumber]="2"
    [mutationAlarmConfig]="temperatureChn2MutationAlarmConfig"
    [syncEnabled]="syncChannels"
    [temperatureAlarmConfig]="temperatureChn2AlarmConfig">
  </tb-ts302-channel-alarm-form>
</div>
