$maxLegendWidth: 25%;
$maxLegendHeight: 35%;

.tb-time-series-chart-panel {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  background-color: #fbfcfd;
  flex-direction: column;
  border: 1px solid #dee3ea;

  > div:not(.tb-time-series-chart-overlay) {
    z-index: 1;
  }

  .tb-time-series-chart-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .tb-widget-title {
    padding: 20px !important;

    .mat-icon {
      display: inline-flex !important;
      align-items: center !important;
      justify-content: center !important;
      width: 36px !important;
      height: 36px !important;
      background: var(--tb-primary-100) !important;
      color: var(--tb-primary-500) !important;
      border-radius: .75rem !important;
      font-size: 20px !important;
      margin-right: 8px !important;
      line-height: 1 !important;
    }

    .title {
      font-size: 17.5px !important;
      font-family: Roboto, sans-serif !important;
      font-weight: 600 !important;
      font-style: normal !important;
      line-height: 22.75px !important;
    }
  }

  .tb-time-series-chart-content {
    flex: 1;
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: 0;

    &.legend-top {
      flex-direction: column-reverse;
    }

    &.legend-right {
      flex-direction: row;
    }

    &.legend-left {
      flex-direction: row-reverse;
    }

    .tb-time-series-chart-shape {
      flex: 1;
      min-width: 0;
      min-height: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.legend-right, &.legend-left {
      .tb-time-series-chart-legend {
        display: inline-grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(auto-fit, minmax(16px, min-content));
        max-width: calc($maxLegendWidth - 8px);
        height: fit-content;
        max-height: 100%;
      }
    }

    &.legend-top, &.legend-bottom {
      .tb-time-series-chart-legend {
        align-self: center;

        &.tb-simple-legend {
          justify-content: center;
        }

        &:not(.tb-simple-legend) {
          width: 100%;
        }
      }
    }

    .tb-time-series-chart-legend {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 16px;
      row-gap: 8px;
      flex-wrap: wrap;
      overflow: auto;
      width: fit-content;
      max-width: 100%;
      max-height: calc($maxLegendHeight - 8px);

      .tb-time-series-chart-legend-table {
        border-spacing: 0;
        table-layout: fixed;

        &.vertical {
          width: 100%;
          table-layout: auto;

          tbody {
            th {
              width: 95%;
            }
          }
        }

        th, td {
          &:not(:last-child) {
            padding-right: 16px;
          }
        }

        thead tr, tbody tr:not(:last-child) {
          th, td {
            padding-bottom: 8px;
          }
        }

        .tb-time-series-chart-legend-item {
          align-items: flex-end;

          &.left {
            align-items: flex-start;
          }
        }
      }

      .tb-time-series-chart-legend-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        user-select: none;

        .tb-time-series-chart-legend-item-label {
          display: flex;
          align-items: center;
          gap: 4px;
          color: #ccc;
          white-space: nowrap;
          cursor: pointer;

          .tb-time-series-chart-legend-item-label-circle {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #ccc;
          }
        }
      }

      .tb-time-series-chart-legend-type-label {
        white-space: nowrap;
        text-align: left;

        &.right {
          text-align: right;
        }
      }

      .tb-time-series-chart-legend-value {
        white-space: nowrap;
        text-align: right;
      }
    }
  }

  .legend {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 16px;

    &.legend-row-color {
      color: rgba(0, 0, 0, 0.38);
    }

    &.legend-label-color {
      color: black;
    }
  }
}
